

/*body {
  background-color: #F2E8CF; /* Light beige background */
  body {
    font-family: 'Poppins', sans-serif;
    /* Path to your image file */
    
    background-size: cover; /* Cover the entire viewport without repeating */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Keep the background fixed during scroll */
    background-position: center center; /* Center the background image */
    background-image: linear-gradient(to top, #b9686991 -10%,  #F2E8CF 30%,  #6A994E 100%);
  }
  #navbar-logo {
  height: 50px; /* Set the height to fit your navbar */
  width: auto; /* Maintain the aspect ratio */
  margin-right: 20px; /* Spacing between the logo and the links */
  background-color: #366c3a; /* Same color as the navbar background */
  border-radius: 10%; /* Optional: if you want the logo to be rounded */
  /* Add additional styles as needed */
}
  
  nav {
    background-color: #366c3a;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 20px; /* Adjust the value based on the desired roundness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow as needed */
  }
  
nav a {
  color: #f0f3e9; /* Light green color for the text */
  text-decoration: none; /* Removes the underline */
  margin-right: 10px;
   /* Use Arial or a generic sans-serif font */
  font-weight: bold; /* Make the font bold */

}

nav a:hover {
  color: #BC4749; /* Red color for hover state */
}