

/*body {
  background-color: #F2E8CF; /* Light beige background */
  body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url('HI.jpg'); /* Path to your image file */
    background-size: cover; /* Cover the entire viewport without repeating */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Keep the background fixed during scroll */
    background-position: center center; /* Center the background image */
  }

nav {
  background-color: #6A994E; /* Dark green background for the navbar */
  padding: 10px;
}

nav a {
  color: #A7C957; /* Light green color for the text */
  text-decoration: none; /* Removes the underline */
  margin-right: 10px;
}

nav a:hover {
  color: #BC4749; /* Red color for hover state */
}